.add-choice__body { 
    padding: 16px 24px;
}

.add-choice__input {
    border-radius: 40px;
    height: 50px;
}

.add-choice__input-wrapper {
    position: relative;
}

.add-choice__input-remove { 
    position: absolute;
    top: 5px;
    right: 3px;
}

.add-choice-button {
    width: 100%;
    border-radius: 50px;
    height: 50px;
}

.submit-button {
    border-radius: 50px;
    height: 50px;
    width: 200px;
}

.add-choice__body {
     border: 1px solid #e1e4e8!important;
     margin-left: 20px;
     margin-bottom: 40px;
     border-radius: 20px;
}